<ion-header>
  <ion-toolbar color="blue">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Loja de Veículos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="gray-light">

  <ion-list>
    <ion-list-header color="gray-dark">
      <h3> Veículos </h3>
    </ion-list-header>

    <ion-item *ngFor="let car of cars" [routerLink]="['/car-details', car.id]">
      <ion-avatar slot="start">
        <img src="../../assets/lotus.jpg">
      </ion-avatar>
      <ion-label>
        <h2> {{car.make}} </h2>
        <h2> {{car.model}} </h2>
        <h3> R$ {{car.price}} </h3>
        <h3> KM {{car.km}} </h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>