<ion-header>
  <ion-toolbar color="blue">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Loja de Veículos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="gray-light">

  <ion-list>
    <ion-list-header color="gray-dark">
      <h3> Veículos </h3>
    </ion-list-header>

    <ion-card *ngFor="let car of cars" [routerLink]="['/car-details', car.id]">

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let carImg of car.images">
          <img [src]=carImg.src>
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-title> {{car.make}} </ion-card-title>
        <ion-card-title> {{car.model}} </ion-card-title>
        <ion-card-subtitle> R$ {{car.price}} </ion-card-subtitle>
        <ion-card-subtitle> KM {{car.km}} </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-list>

</ion-content>