<ion-content>


  <div style="margin-top: 20%;">

    <div style="text-align: center;">
      <img src="../../assets/logo.png" width="70%">
    </div>

    <form #loginForm="ngForm" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit(loginForm)">

      <ion-card color="gray-dark">
        <ion-card-header>
          <ion-card-title style="font-size: x-large; text-align: center;"> Login </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item style="margin-bottom: 7px; border-radius: 10px;">
            <ion-label position="floating">Username</ion-label>
            <ion-input 
              type="text" 
              id="username" 
              name="username" 
              #username="ngModel" 
              [(ngModel)]="user.username"></ion-input>
          </ion-item>

          <ion-item style="margin-bottom: 7px; border-radius: 10px;">
            <ion-label position="floating">Senha</ion-label>
            <ion-input 
            type="password" 
            id="password" 
            name="password" 
            #pass="ngModel" 
            [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Login</ion-button>

          <ion-button expand="block" color="warning" [routerLink]="['/register']">
            Register
          </ion-button>

        </ion-card-content>

      </ion-card>

    </form>

    <ion-item *ngIf="isLoggedIn">
      <ion-label>Logged in as {{ roles }}.</ion-label>
    </ion-item>

  </div>


</ion-content>