<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Edit Car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header color="gray-dark">
      <div class="box-imagem">
        <img src="../../assets/lotus.jpg" class="imagem">
      </div>
    </ion-card-header>

    <ion-card-content>

      <form>
        <ion-item>
          <ion-label position="stacked">Make</ion-label>
          <ion-input type="text" name="make" [(ngModel)]="car.make"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Model</ion-label>
          <ion-input type="text" name="model" [(ngModel)]="car.model"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Price</ion-label>
          <ion-input name="descricao" [(ngModel)]="car.price"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">KM</ion-label>
          <ion-input name="km" [(ngModel)]="car.km"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Year</ion-label>
          <ion-input name="year" [(ngModel)]="car.year"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col size="6">
            <ion-button [routerLink]="['/admin-cars']" expand="block" color="warning">
              Cancel
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="updateCar()" expand="block" color="success">
              Save
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>